body {
    background-color: #000000;
}

#drawSVG-container {
    min-height: 100vh;


    #pattern {
        padding-top: 300px;
    }

    .drawSVG {
        //display: grid;
        grid-template-columns: repeat(2, 1fr);

        .title {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
        }

        .svg {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 100%;
            }
        }
    }

    #roll {
        visibility: hidden;
    }

    .grow-right {
        // display: none;
    }
}