#units {
    margin-top: 90px;
    overflow: hidden;

    @include md {
        margin-top: 90px;
    }

    @include lg {
        margin-top: 100px;
    }

    #content {
        height: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;

        h1 {
            font-size: rem-calc(50);
            background-image: linear-gradient(180deg, #dd84ad, #9976e6);
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            padding-bottom: 90px;

            @include md {
                font-size: rem-calc(60);
                padding-bottom: 90px;
            }

            @include lg {
                font-size: rem-calc(70);
                font-weight: bolder;
                padding-bottom: 140px;
            }

            span {
                font-family: 'Lato', sans-serif;
            }
        }

        #fine-logo {
            padding-bottom: 150px;
        }

        .person-1 {
            display: grid;
            grid-template-columns: repeat(2);
            // grid-template-columns: 100%;
            grid-template-areas: ". person info";
            padding-bottom: 100px;

            img {
                grid-area: person;
                padding-left: 800px;
            }

            div {
                grid-area: info;
                width: 300px;
                text-align: left;
                padding-right: 790px;

                @include md{
                    padding-right: 600px;
                }

                @include lg{
                    padding-right: 500px;
                }
            }

            .eichin {
                color: #FFF3B8;
            }
        }

        .person-2 {
            display: grid;
            grid-template-columns: repeat(2);
            // grid-template-columns: 100%;
            grid-template-areas: ". person info";
            padding-bottom: 100px;

            img {
                grid-area: person;
                padding-left: 800px;
            }

            div {
                grid-area: info;
                width: 300px;
                text-align: left;
                padding-right: 790px;

                @include md{
                    padding-right: 600px;
                }

                @include lg{
                    padding-right: 500px;
                }
            }

            .watarun {
                color: #A1D8E2;
            }
        }

        .person-3 {
            display: grid;
            grid-template-columns: repeat(2);
            // grid-template-columns: 100%;
            grid-template-areas: ". person info";
            padding-bottom: 100px;

            img {
                grid-area: person;
                padding-left: 800px;
            }

            div {
                grid-area: info;
                width: 300px;
                text-align: left;
                padding-right: 790px;

                @include md{
                    padding-right: 600px;
                }

                @include lg{
                    padding-right: 500px;
                }
            }

            .torin {
                color: #F5B2B2;
            }
        }

        .person-4 {
            display: grid;
            grid-template-columns: repeat(2);
            // grid-template-columns: 100%;
            grid-template-areas: ". person info";
            padding-bottom: 100px;

            img {
                grid-area: person;
                padding-left: 800px;
            }

            div {
                grid-area: info;
                width: 300px;
                text-align: left;
                padding-right: 790px;

                @include md{
                    padding-right: 600px;
                }

                @include lg{
                    padding-right: 500px;
                }
            }

            .yuzurun {
                color: #3E62AD;
            }
        }

        #trickstar-logo {
            padding-bottom: 150px;
            padding-top: 110px;
        }

        .person-5 {
            display: grid;
            grid-template-columns: repeat(2);
            // grid-template-columns: 100%;
            grid-template-areas: ". info person";
            padding-bottom: 100px;

            img {
                grid-area: person;
                padding-right: 750px;
            }

            div {
                grid-area: info;
                width: 300px;
                text-align: right;

                @include md{
                    padding-left: 600px;
                }

                @include lg{
                    padding-left: 500px;
                }
            }

            .hokken {
                color: #0068B7;
            }
        }

        .person-6 {
            display: grid;
            grid-template-columns: repeat(2);
            // grid-template-columns: 100%;
            grid-template-areas: ". info person";
            padding-bottom: 100px;

            img {
                grid-area: person;
                padding-right: 750px;
            }

            div {
                grid-area: info;
                width: 300px;
                text-align: right;

                @include md{
                    padding-left: 600px;
                }

                @include lg{
                    padding-left: 500px;
                }
            }

            .subarun {
                color: #F3981D;
            }
        }

        .person-7 {
            display: grid;
            grid-template-columns: repeat(2);
            // grid-template-columns: 100%;
            grid-template-areas: ". info person";
            padding-bottom: 100px;

            img {
                grid-area: person;
                padding-right: 750px;
            }

            div {
                grid-area: info;
                width: 300px;
                text-align: right;

                @include md{
                    padding-left: 600px;
                }

                @include lg{
                    padding-left: 500px;
                }
            }

            .yukin {
                color: #65AB31;
            }
        }

        .person-8 {
            display: grid;
            grid-template-columns: repeat(2);
            // grid-template-columns: 100%;
            grid-template-areas: ".info person";
            padding-bottom: 100px;

            img {
                grid-area: person;
                padding-right: 750px;
            }

            div {
                grid-area: info;
                width: 300px;
                text-align: right;

                @include md{
                    padding-left: 600px;
                }

                @include lg{
                    padding-left: 500px;
                }
            }

            .sallyn {
                color: #941F57;
            }
        }
    }
}