#units{
    margin-top: 90px;

    @include md{
        margin-top: 90px;
    }

    @include lg{
        margin-top: 100px;
    }
   
    #content{
        height: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;

        h1{
            font-size: rem-calc(50);
            background-image: linear-gradient(180deg, #dd84ad, #9976e6);
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            padding-bottom: 90px;

            @include md{
                font-size: rem-calc(60);
                padding-bottom: 90px;
            }

            @include lg{
                font-size: rem-calc(70);
                font-weight: bolder;
                padding-bottom: 110px;
            }

            span{
                font-family: 'Lato', sans-serif;
            }
        }

        h2{
            font-size: rem-calc(50);
            background: linear-gradient(90deg, rgba(255,216,161,1) 0%, rgba(255,255,255,1) 100%);
            padding-bottom: 45px;
            padding-top: 45px;
            color: white;
            text-align: left;
            align-items: baseline;

            @include md{
                font-size: rem-calc(60);
            }

            @include lg{
                font-size: rem-cal(70);
                padding-left: 10%;
                margin-bottom: 300px;
            }

            .eichi {
                float: right;
            }

            .wataru {
                float: right;
            }

            .tori {
                float: right;
            }

            .yuzuru {
                float: right;
            }
        }

        h3{
            font-size: rem-calc(50);
            background: linear-gradient(90deg, #FF8B0B 0%, rgba(255,255,255,1) 100%);
            padding-bottom: 45px;
            padding-top: 45px;
            color: white;
            text-align: left;
            align-items: baseline;

            @include md{
                font-size: rem-calc(60);
            }

            @include lg{
                font-size: rem-cal(70);
                padding-left: 10%;
            }

            .hokke {
                float: right;
            }

            .subaru {
                float: right;
            }
        }
    }
}