#updates{
    margin-top: 60px;

    @include md{
        margin-top: 80px;
    }

    @include lg{
        margin-top: 90px;
    }
   
    #content{
        height: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;

        #first_line{
            font-size: rem-calc(50);
            background-image: linear-gradient(180deg, #dd84ad, #9976e6);
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            padding-bottom: 90px;

            @include md{
                font-size: rem-calc(60);
                padding-bottom: 90px;
            }

            @include lg{
                font-size: rem-calc(70);
                font-weight: bolder;
                padding-bottom: 110px;
            }
        }

        #nikki_bday {
            padding-top: 50px;
            width: 80%;

            @include md{
                width: 75%;

            }

            @include lg{
                padding-top: 50px;
                width: 75%;
            }
        }
        }
    }
